#sidebar= render 'shared/node_manager_sidebar'
#main
  .header
    %h2= @node_group.name
    %ul.actions
      %li= link_to 'Edit', edit_node_group_path(@node_group), :class => "edit button", :rel => 'inspect'
      %li= link_to 'Destroy', @node_group, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

  .item
    = render 'shared/parameters', :resource => @node_group
    = render 'shared/groups', :resource => @node_group
    = render 'shared/classes', :resource => @node_group

    .section.half
      %h3 Derived groups
      - unless resource.node_group_child_list.empty?
        %table.inspector
          %thead
            %tr
              %th.key Name
          %tbody
            - resource.node_group_child_list.each do |group,parents|
              %tr
                %td.key
                  %strong= link_to(group.name,group)
                  = " via #{parents.map{|p| link_to(p.name,p)}.to_sentence}" unless parents.include?(resource)
      - else
        &mdash; No child groups &mdash;



  .item
    - if @node_group.nodes.present?
      .section
        = render 'statuses/run_failure', :nodes => @node_group.nodes
    .section
      %h3 Nodes for this group
      = render 'nodes/nodes', :nodes => @node_group.nodes
